{% extends 'base.html.twig' %}

{% block title %}Edit TfgTparametro{% endblock %}

{% block body %}
    <h1>Edit TfgTparametro</h1>

    {{ include('tfg_tparametro/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tfg_tparametro_index') }}">back to list</a>

    {{ include('tfg_tparametro/_delete_form.html.twig') }}
{% endblock %}
